@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@mixin mediaQueryMax($value) {
  @media only screen and (max-width: $value) {
    @content;
  }
}

#scrolling {
  overflow: hidden;
  position: relative;
  --v-offset: 50px;
  --curve-height: 150px;

  &:before,
  &:after {
    content: "";
    display: block;
    background: black;
    width: calc(100vw + 2 * var(--v-offset));
    height: var(--curve-height);
    position: absolute;
    border-radius: 50%;
    left: calc(-1 * var(--v-offset));
    right: calc(-1 * var(--v-offset));
  }

  &:before {
    top: calc(-0.6 * var(--curve-height));
  }

  &:after {
    bottom: calc(-0.6 * var(--curve-height));
  }

  @include mediaQueryMax(580px) {
    --v-offset: 100px;
    --curve-height: 220px ;

  }
}

.glide__slides {
  display: flex;
  height: 50vh;
}

.glide__slide {
  width: initial;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
